# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.pyd

# Distribution / packaging
.Python
env/
venv/
build/
dist/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
.mypy_cache/
.ruff_cache/
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.napari_cache

# Documentation
docs/_build/
site/

# IDE
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints/

# pyenv
.python-version

# OS
.DS_Store

# Misc
scratch/